.c-form {
  form {
    &.woocommerce-form {
      border: none;
      padding: 0;
    }

    input[type="text"],
    input[type="email"],
    input[type="search"],
    input[type="tel"],
    input[type="select"],
    input[type="password"],
    {
      display: inline-block;
      padding: 9px 0 9px 13px;
      width: 100%;
      border: 1px solid #d7d7d7;
      border-radius: 4px;
      color: palette(text);
      @include font(base, 22, 300);
      outline: none;
      background-color: white;

      @include mq($md) {
        background-color: transparent;
      }
    }

    input[type="text"],
    input[type="email"],
    input[type="search"],
    input[type="tel"] {
      &:focus {
        border: 1px solid #f5f5f5;
      }
    }

    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      appearance: none;
      outline: 0;
    }

    textarea {
      display: inline-block;
      padding: 9px 0 9px 13px;
      margin-bottom: 0 !important;
      width: 100%;
      border: 1px solid #d7d7d7;
      border-radius: 4px;
      color: palette(text);
      @include font(base, 22);
      letter-spacing: 1px;
      resize: none;
      outline: none;
      background-color: white;

      @include mq($md) {
        margin-bottom: 30px;
        background-color: transparent;
      }

      &:focus {
        border: 1px solid #d7d7d7;
      }
    }

    label {
      @include font(small, 14, 600);
      color: palette(text);
      letter-spacing: 1px;
      text-transform: uppercase;
      //font-size: 0.75rem !important;

      @include mq($md) {
        color: palette(text);
      }
    }

  }

  button.woocommerce-form-register__submit,
  button.woocommerce-form-login__submit {
    display: inline-block;
    padding: 15px;
    background: palette(primary);
    color: #fff;
    @include font(l-small, 14, 600);
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 100%;

  }

  .woocommerce-privacy-policy-text {
    @include font(l-small, 14, 300);
  }


  // Selectric

  .selectric {
    display: inline-block;
    width: 100%;
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    outline: none;
    background-color: white;

    @include mq($md) {
      background-color: transparent;
    }

    .label {
      padding: 9px 0 9px 13px;
      color: palette(text);
      @include font(base, 22, 300);
    }

    .button {
      height: 39px;
      width: 39px;
      background: palette(primary);

      &:after {
        border: none;
        content: url("/wp-content/themes/loiswine_theme/img/icons/nav-arrow.svg");
        height: 11px;
        width: 7px;
        transform: rotate(-90deg);
      }
    }
  }

  .select2 {
    display: none;
  }

}

.quantity {
  display: inline-block;
  margin: 0 !important;
}

.input-group {
  display: flex;
  align-items: stretch;
  justify-content: center;
  height: 42px;
  border-radius: 0;
  overflow: hidden;
  border: 2px solid #990133;

  input {
    border: none;
  }
}

input {
  margin: 0;
}

input[type="number"] {
  width: auto;
  text-align: center;
  border: none !important;
  outline: none !important;
}

.input-group-btn {
  display: inline-block;


  .btn, .btn-default {
    border: none;
    outline: none;
    margin: 0;
    width: 35px;
    height: 100%;
    font-size: 18px;
    background: none;
    color: #000000;
  }
}

.woocommerce {
  div.product {
    form.cart {
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      @include mq($md) {
        flex-direction: row;
      }
    }
  }
}