button, .button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0 !important;
}

.c-primary-button {

}

.c-secondary-button {
  background: palette(secondary);
  color: #ffffff;
  display: inline-block;
  padding: 12px 38px;
  margin-top: 15px;
  @include font(base, 20, 400);
  letter-spacing: 1px;

}

.c-primary-button--outline {

}

.c-primary-button--icon-left {
  position: relative;
  padding-left: 44px;

}

.c-primary-button__icon {

}

.c-primary-button--load-more {

}

.is-disabled {
  opacity: 0.4;
  cursor: not-allowed;
  pointer-events: none;
}

.c-primary-button--bordered {

}

.c-primary-button--small {

}

.c-primary-button--yellow {

}


.c-primary-button--shadow {


}