.c-post{
  padding: 15px;
  text-align: center;
  box-shadow: 0 -1px 47px rgba(0,0,0,.07);
  margin-bottom: 50px;

}

.c-post__img{
  width: 100%;
  height: 250px;
  margin-bottom: 30px;
}

.c-post__wrap{
  text-align: left;
  margin-bottom: 10px;
}

.c-post__title{
  text-align: left;
  color: palette(text);
  text-transform: uppercase;
  @include font(l-small, 24, 600);
}

.c-post__data{
  color: #979797;
  @include font(small, 24, 600);

}

.c-post__description{
  text-align: left;
  color: #979797;
  @include font(base, 20, 300);
}