.c-brand-sidebar {

  .active{
    a{
      color: palette(primary);
    }
  }
}

.c-brand-list {

}

.c-brand-list__item {
  padding: 5px 0;
  //border-bottom: 1px solid #d7d7d7;

  a {
    color: palette(text);
    text-transform: uppercase;
    @include font(l-small, 24, 400);
  }
}

.c-brand-sidebar-mob {
  width: 250px;
  height: 100vh;
  padding: 10px 0 10px 10px;
  background: #ffffff;
  z-index: 99999;
  position: fixed;
  top: 0;
  right: -250px;
  transition: all 0.4s linear;

  &.is-open-sidebar {
    right: 0;
    transition: all 0.4s linear;
    box-shadow: -5px 4px 13px -5px rgba(0,0,0,0.16);
  }
  .c-brand-sidebar {
    height: 100vh;
    overflow: scroll;
  }
}

.c-brand-sidebar-mob__btn-wrap{
  position: relative;
}

.c-brand-sidebar-mob__btn {
  position: absolute;
  top: 50px;
  left: -70px;
  padding: 3px;
  border: none;
  border-radius: 3px;
  background: #FFFFFF;

  @include mq($xsm) {
    top: 70px;
  }

  @include mq($md) {
    top: 90px;
  }
}