.c-product-card {
  position: relative;
  margin-bottom: 25px;
  text-align: center;
  box-shadow: 0px -1px 47px rgba(0, 0, 0, 0.07);

  &:hover {
    background-color: #F5F5F5;
    box-shadow: none;
  }

  .c-product-card__wrap {
    padding: 34px 14px 94px;

    img {
      &.attachment-woocommerce_thumbnail {
        height: 180px;
        width: auto;
        margin: 0 auto;
      }
    }
  }

  .c-product-rating {
    ul {
      justify-content: center;
    }
  }

  .price {
    .woocommerce-Price-amount {
      display: inline-block;
      color: palette(primary);
      @include font(m-large, 32, 700);
      margin: 15px 0;
    }
  }

  .woocommerce-price-suffix {
    color: #979797;
    @include font(small, 22, 300);
  }

  a.button {
    display: inline-block;
    background-color: palette(secondary);
    text-transform: uppercase;
    @include font(l-small, 19, 400);
    color: #ffffff;
    position: absolute;
    width: 80%;
    padding: 5px;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);

    @include mq($md) {
      width: 80%;
      padding: 10px 15px;
      bottom: 34px;
    }
  }

  span {
    &.icon {
      display: inline-block;
      margin-left: 10px;
      position: relative;
      width: 16px;
      height: 17px;

      &:before {
        content: url("/wp-content/themes/loiswine_theme/img/icons/btn_gift.svg");
        position: absolute;
        left: 0;
        top: 4px;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.woocommerce-loop-product__title {
  margin: 36px auto 20px;
  font-family: 'Poppins', sans-serif;
  @include font(l-small, 20, 400);
  color: palette(text);
  text-align: center;

  a {
    @include font(l-small, 20, 600);
    letter-spacing: 1px;
    color: palette(text);
  }
}

.woo-product-short-desc {
  color: #979797;
  @include font(small, 22, 300);
  margin-top: 10px;
}


.add_to_cart_button, .woocommerce a.button {
  display: inline-block;
  padding: 10px 25px;
  background-color: palette(secondary);
  @include font(l-small, 20, 400);
  color: #ffffffff;


  &:hover {
    background-color: palette(primary);
    color: white !important;
  }

  @include mq($md) {
    padding: 10px 15px;
  }
}