.c-shop-sidebar{
  padding-right: 25px;
  .widget-title{
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    @include font(l-small, 24, 400);
    text-transform: uppercase;
    letter-spacing: 1px;
    color: palette(text);
    text-align: left;
    border-bottom: 1px solid #d7d7d7;

    &:before{
      content: '';
      width: 50px;
      height: 3px;
      background: #990133;
      position: absolute;
      left: 0;
      bottom: -2px;
      z-index: 0;
    }

  }

  .widget{
    margin-bottom: 15px;

  }

  .woocommerce-widget-layered-nav-list,
  .product-categories{
    padding-left: 20px;
    margin-bottom: 30px;
    li{
      a{
        color: palette(text);
        @include font(base, 20, 300);
        letter-spacing: 1px;
      }
      span.count{
        @include font(small, 18, 300);
      }

      &.woocommerce-widget-layered-nav-list__item--chosen{
        a{
          display: inline-block;
          position: relative;
          &:before{
            position: absolute;
            left: -15px;
            height: 20px;
            width: 20px;
            top: -2px;
            content: "•";
            color: #990133;
            font-size: 20px;
            line-height: 1;
            vertical-align: middle;
          }
        }
      }
    }
  }
}
.c-shop-sidebar__title{
  background: palette(primary);
  color: #ffffff;
  text-transform: uppercase;
  @include font(base, 24, 700);
  padding: 15px 10px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

