.c-wysiwyg {
  h1 {

  }

  h2 {

  }

  h3 {
    @include font(s-large, 24, 700);
    margin-bottom: 30px;
  }

  h4 {

  }

  h5 {

  }

  p {
    @include font(base, 24, 400);
    padding-bottom: 10px;
  }
;

}

