.c-payment-info{
  padding-top: 60px;
}

.c-payment-info__label{
  color: palette(text);
  @include font(base, 16, 300);
}

.c-payment-info__list-icons{

}

.c-payment-info__item{
  margin-right: 10px;
}