.c-breadcrumb {
  padding: 10px 0 15px 0;

  .woocommerce-breadcrumb {
    margin: 0;
    @include font(l-small, 24, 400);
    color: #767676;

    a {
      color: #767676;
    }
  }

  a, .breadcrumb_last {
    @include font(l-small, 24, 400);
    color: #767676 !important;
  }


  @include mq($md) {
    padding: 30px 0 20px 0;

    .woocommerce-breadcrumb {
      @include font(l-small, 24, 400);
    }
  }
}