.c-event {
  height: 100%;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include mq($md){
    padding-bottom: 0;
  }

}

.c-even__wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.c-event__img {
  margin-bottom: 25px;

  img {
    height: 125px;
    object-fit: cover;
    width: 100%;
  }
}

.c-event__icon {
  svg {
    display: inline-block;
  }
}

.c-event__date {
  color: palette(text, 400);
  @include font(l-small, 20, 400);
}

.c-event__title {
  font-family: 'Poppins', sans-serif;
  @include font(base, 20, 700);
  color: palette(primary);
}


.c-event__location {
  padding-top: 15px;
  @include font(l-small, 20, 400);
  color: palette(text);
}