.c-team{
margin-bottom: 50px;
}
.c-team__img {
  margin-bottom: 20px;
  text-align: center;

  img {
    display: inline-block;
    width: 300px;
    height: 300px;
    object-fit: cover;
  }
}

.c-team__name {
  margin-top: 10px;
  @include font(l-small, 20, 500);
  color: palette(text);
  text-align: center;
  letter-spacing: 1px;
}

.c-team__position {
  text-align: center;
  color: #979797;
  @include font(small, 22, 300);
}

.c-team__social{
  text-align: center;
  margin: 10px 0;
}

.c-team__social-item{
  display: inline-block;
  margin: 5px;
  width: 20px;
  height: 20px;

  &:hover{
    opacity: 0.5;
  }
}