.c-product-slider {
  position: relative;

  .swiper-pagination {
    width: 100%;
  }

  .swiper-slide {
    height: auto;
  }

  .swiper-pagination {
    bottom: -40px !important;
  }

  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    margin: 0 2px;
    display: inline-block;
    border-radius: 100%;
    background: palette(primary, 200);
    outline: none;
    // opacity: 0.2;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
    background: palette(primary);
  }

  .swiper-wrapper {
    justify-content: flex-start;
    padding:0;

    @include mq($md){
      justify-content: center;
      padding: 30px 30px 0;
    }
  }


  .button {
    display: inline-block;
    padding: 10px 15px;
    @include font(l-small, 20, 400);
    border: none;
    width: 90%;

    &:hover {
      background-color: palette(primary);
      color: white !important;
    }
  }
}