.c-accordion {

}

.c-accordion__btn {
  width: 100%;
  border: none;
  outline: none;
  margin-bottom: 40px;
  padding-bottom: 10px;
  background: #fff;
  @include font(m-mid-large, 30, 400);
  letter-spacing: 2px;
  color: palette(text);
  text-align: left;
  border-bottom: 1px solid #d7d7d7;
  cursor: pointer;

  &:after {
    content: url("/wp-content/themes/loiswine_theme/img/icons/arrow-black.svg");
    width: 10px;
    transform: rotate(90deg);
    float: right;
    transition: all 0.5s ease-in-out;
  }


  &.is-open {
    &:after {
      transform: rotate(-90deg);
    }
  }

}

.c-accordion__content {
  background-color: white;
  border-left: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}