.c-delivery {
  padding-top: 20px;
}

.c-delivery__item {
  padding: 10px 0;
  img {
    display: inline-block;
    width: 40px;
    height: auto;
  }

  span {
    color: palette(text, 400);
    @include font(l-small, 20, 300);
  }
}