.c-price-table {
  margin: 20px 0;
  border: 1px #cccccc solid;
}

.c-price-table__wrap {
  border-bottom: 1px #cccccc solid;

  &:last-child {
    border: none;
  }
}

.c-price-table__item{
  padding: 5px;
}

.c-price-table__item--border {
  height: 100%;
  border-right: 1px #cccccc solid;
}