.c-shop-sidebar-mob {
  width: 250px;
  height: 100vh;
  padding: 10px 0 10px 10px;
  background: #ffffff;
  z-index: 99999;
  position: fixed;
  top: 0;
  right: -250px;
  transition: all 0.4s linear;

  &.is-open-sidebar {
    right: 0;
    transition: all 0.4s linear;
    box-shadow: -5px 4px 13px -5px rgba(0, 0, 0, 0.16);
  }

  .c-shop-sidebar {
    height: 100vh;
    overflow: scroll;
  }

}

.c-shop-sidebar-mob__btn-wrap {
  position: relative;
}

.c-shop-sidebar-mob__btn {
  position: absolute;
  top: 50px;
  left: -75px;
  padding: 3px;
  border: none;
  border-radius: 3px;
  background: #fff;

  @include mq($xsm) {
    top: 70px;
  }

  @include mq($md) {
    top: 90px;
  }


  img {
    display: inline-block;
    height: 35px;
    width: 40px;
  }

  &.is-open {
    &:after {
      transform: rotate(-90deg);
    }
  }

  /* &:after {
     content: '';
     position: absolute;
     top: 17px;
     right: 5px;
     width: 25px;
     height: 15px;
     background-image: url('/wp-content/themes/loiswine_theme/img/icons/nav-arrow.svg');
     background-position: center;
     background-repeat: no-repeat;
     background-size: contain;
     transform: rotate(90deg);
     transition: all 0.7s linear;
   }*/
}