.o-mobile-menu {
}

.o-mobile-menu__top {
  background-color: #000000;
}

.o-mobile-menu__toggle-wrap {
  height: 100%;
  text-align: left;
  vertical-align: middle;
}

.o-mobile-menu__toggle-close__wrap {
  width: 100%;
  padding: 20px 20px 0 0;
  text-align: right;
  vertical-align: middle;
}

.o-mobile-menu__toggle {
  display: inline-block;
  height: 100%;
  background: none;
  border: none;
  padding-right: 10px;

  img {
    width: 22px;
    height: 22px;
  }
}

.o-mobile-menu__cart {
  img {
    display: inline-block;
    width: 20px;
    height: 20px;
  }

  span {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

.o-mobile-menu__container {
  position: fixed;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 999999;
  transition: all 0.5s linear;
}

.o-mobile-menu__logo {
  img {
    display: inline-block;
  }
}

.o-mobile-menu__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  li {
    padding: 20px;
    border-bottom: 1px solid #d7d7d7;

    a {
      @include font(base, 18px, 400);
      letter-spacing: 2px;
      text-transform: uppercase;
      color: palette(text);
    }
  }
}

.JS--open-mobile-menu {
  left: 0;
}