.o-primary-menu {
  background-color: #ffffff;

  @include mq($lg) {
    padding: 20px 0;
  }
}

.o-primary-menu__list {
  display: flex;

  @include mq($lg) {
    flex-direction: row;
  }

  a {
    @include font(base, 18px, 400);
    letter-spacing: 2px;
    text-transform: uppercase;
    color: palette(text);
    @include mq($lg) {
      padding: 10px;
    }

    &:hover {
      color: palette(primary);
      cursor: pointer;
    }
  }
}

.o-primary-menu__cart-wrap {
  text-align: right;

  .woocommerce-Price-amount {
    color: palette(primary);
    @include font(mid, 24, 700);
    margin: 15px 0;
  }
}

.o-primary-menu__cart {
  color: palette(primary);
  @include font(mid, 24, 700);
  margin: 15px 0;

  img {
    display: inline-block;
    height: 30px;
    margin-top: -10px;
  }
}