.o-header-top {
  background-color: #000000;

  .o-header-top__mail {
    color: #ffffff;
  }
}

.o-header-top__wraper {
  text-align: right;
}

.o-header-top__wpml {
  display: inline-block;
}

.o-header-top__login {
  display: inline-block;

  a {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    color: #fff;

    img{
      display: inline-block;
      height: 25px;
      width: 25px;
      svg {
        fill: #fff;
      }
    }

    &:hover{
      color: palette(primary);

      .o-header-top__login-icon {
        svg {
          fill: palette(primary);
        }
      }
    }
  }

}

.woocs-style-1-dropdown .woocs-style-1-select{
  padding: 5px !important;
}

.woocs-style-1-dropdown-menu {

  li {
    background: none !important;
  }
}

.woocs-style-1-dropdown .woocs-style-1-select > i {
  color: palette(primary) !important;
}