
.o-home-banner {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 0;

  @include mq($md) {
    padding: 80px 0 0 0;
  }
}

.o-home-banner__intro {
  @include mq($md) {
    padding-top: 65px;
  }
}

.o-home-banner__title {
  @include font(s-large, 28, 700);

  @include mq($md) {
    @include font(xx-mid-large, 79, 700);
  }
}

.o-home-banner__link {
  display: inline-block;
  padding: 10px 24px;
  margin-top: 20px;
  background-color: palette(secondary);
  color: #ffffff;
  text-align: center;

  @include font(l-small, 16, 400);
  letter-spacing: 1px;
  text-transform: uppercase;

  @include mq($md) {
    margin-top: 30px;
    padding: 15px 20px;
  }

}

.o-home-banner__wysiwyg {
  padding-top: 20px;

  h2 {
    @include font(mid-m, 20, 600);
    letter-spacing: 2px;

    @include mq($md) {
      padding-top: 40px;
      @include font(m-mid-large, 28, 600);
    }
  }

  ul {
    padding: 15px;
    margin: 0;

    li {
      padding: 5px 16px;
      display: block;
      position: relative;
      @include font(base, 20, 600);
      letter-spacing: 1px;

      &:before {
        position: absolute;
        content: "•"; /* Insert content that looks like bullets */
        margin-left: -25px;
        color: palette(primary);
        font-size: 30px;
        line-height: 1;
        vertical-align: middle;
      }

      @include mq($md) {
        @include font(mid, 24, 600);
      }
    }

  }

}

.o-home-banner__img {
  position: relative;
  height: 100%;
  min-height: 520px;

  img {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right:0;
/*    left: 50%;
    transform: translateX(-50%);*/
  }
}

.o-home-banner__img-label {
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 265px;
  @include font(l-small, 24, 400);
  letter-spacing: 1px;
}