<span style='color: #000' title='Frames'>   187</span><span style='color: #009' title='Memory'>  32768.00 KB</span><span style='color: #900' title='Time'>    524.24 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />