.s-order-details {
  h2{
    margin-bottom: 40px;
    padding-bottom: 10px;
    @include font(s-large, 40, 300);
    letter-spacing: 2px;
    color: palette(text);
    text-align: left;
    border-bottom: 1px solid #d7d7d7;
  }
}

h2.woocommerce-order-details__title{
  margin-bottom: 40px;
  padding-bottom: 10px;
  @include font(s-large, 40, 300);
  letter-spacing: 2px;
  color: palette(text);
  text-align: left;
  border-bottom: 1px solid #d7d7d7;
}

.woocommerce .woocommerce-customer-details address{
  border: none;
}