.s-products-cat{
  padding: 80px 0 100px 0;
}


.woocommerce span.onsale {
  height: 50px;
  width: 50px;
  @include font(l-small, 44, 300);
  color: #fff;
  border-radius: 50%;
  background-color: palette(primary);

}
