.s-single-post{
  padding: 100px 0;
}

.s-single-post__img{
  margin-bottom: 50px;

  img{
    width: 100%;
    height: auto;
  }
}

.s-single-post__title{
  margin-bottom: 20px;

  h3{
    text-align: left;
    color: palette(text);
    text-transform: uppercase;
    @include font(mid, 24, 600);
  }

}