.s-faq{
  padding: 50px 0;

  @include mq($lg){
    padding: 100px 0;
  }
}

.s-faq__blur-img{
  height: 400px;
  margin-top: 50px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;

}

.s-faq__overlay{
  width: 100%;
  height: 100%;
  background: linear-gradient(1deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}
