.s-myaccount {
  padding: 100px 0;

}


.woocommerce-MyAccount-navigation {
  ul {
    li {
      background: palette(primary);
      margin-bottom: 3px;

      a {
        display: inline-block;
        position: relative;
        padding: 15px;
        width: 100%;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #ffffff;

        &:after {
          position: absolute;
          right: 30px;
          font: 400 25px/20px dashicons;
        }
      }
    }

    li.woocommerce-MyAccount-navigation-link--orders {
      a {
        &:after {
          content: url("/wp-content/themes/loiswine_theme/img/icons/shopping-bag-white.svg");
        }
      }
    }

    li.woocommerce-MyAccount-navigation-link--edit-address {
      a {
        &:after {
          content: url("/wp-content/themes/loiswine_theme/img/icons/white-location.svg");
        }
      }
    }

    li.woocommerce-MyAccount-navigation-link--edit-account {
      a {
        &:after {
          content: url("/wp-content/themes/loiswine_theme/img/icons/login-white.svg");
        }
      }
    }

    li.woocommerce-MyAccount-navigation-link--customer-logout {
      a {
        &:after {
          content: url("/wp-content/themes/loiswine_theme/img/icons/white-logout.svg");
        }
      }
    }
  }
}

.woocommerce-account {
  .woocommerce-MyAccount-content {
    float: right;
    width: 100%;

    @include mq($md){
      width: 65%;
    }
  }
}

.woocommerce-Address-title {
  padding: 0 0 10px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #d7d7d7;

  h3 {
    @include font(s-large, 20, 300);
    letter-spacing: 2px;
    color: palette(text);
    text-align: left;
  }
}