.s-cart {
  padding: 100px 0;

  .woocommerce-cart-form {
    margin-bottom: 150px;
  }

  .product-thumbnail{
    text-align: center;
  }
  table.cart {
    img {
      width: 120px;
      display: inline-block;
    }
  }

  .actions {
    .button {
      float: right;
      background-color: palette(primary);
      color: #ffffff;
    }
  }

  .cart_totals {
    padding: 30px;
    box-shadow: 0 12px 12px rgba(187, 187, 187, .75), 0 0 12px rgba(187, 187, 187, .75);
    width: 100% !important;
  }

  a.button.alt {
    background-color: palette(primary);
    color: #ffffff
  }
}
