.s-footer-nav {
  padding: 50px 0;
}

.s-footer-nav__title {
  @include font(m-mid-large, 32, 600);
  text-transform: none;
  color: #000;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 40px;
  padding-bottom: 20px;
  position: relative;

  &:after {
    content: '';
    width: 50px;
    height: 3px;
    background: palette(primary);
    position: absolute;
    left: 0;
    bottom: -2px;
    z-index: 0;
  }
}

.s-footer-nav__address{
  p{
    @include font(l-small, 20, 400);

    @include mq($md){
      @include font(base, 24, 400);
    }
  }
}

.s-footer-nav__wrap {

  .s-footer-nav__location-title {
    display: inline-block;
    height: 100%;
    vertical-align: sub;
    font-weight: 600;
    letter-spacing: 1px;
  }

  img {
    height: 15px;
    display: inline-block;
    border: 1px solid #ebebeb;
    margin-bottom: 5px;
  }
}

.s-footer-nav__list {
  li {
    padding: 5px 16px;
    display: block;
    position: relative;
    letter-spacing: 1px;

    &:before {
      position: absolute;
      content: "•";
      margin-left: -15px;
      color: palette(primary);
      font-size: 25px;
      line-height: 1;
      vertical-align: middle;

    }
    a {
      color: palette(text);
    }
  }
}