.s-single-product {
  span.onsale {
    height: 50px;
    width: 50px;
    @include font(l-small, 44, 300);
    color: #fff;
    border-radius: 50%;
    background-color: palette(primary);
    top: auto;
    left: 20px;
  }

  .images {
    width: 100% !important;

    img {
      width: auto !important;
      max-height: 275px;
      margin: 0 auto;

      @include mq($lg) {
        max-height: 500px;
        padding: 0;
      }
    }

  }

  .s-single-product-price__add-to-card {
    p {
      @include font(l-small, 20, 400);
      color: palette(text, 400) !important;
      margin-bottom: 2px;
    }

    .single_add_to_cart_button, .button {
      background-color: palette(secondary) !important;
      color: #ffffff;
      margin-top: 10px;
      @include font(base, 20, 300);
      padding: 12px 40px;
      border: none;
      border-radius: 0;

      &:hover {
        background-color: palette(primary) !important
      }

      @include mq($md) {
        margin-top: 0;
        margin-left: 20px !important;
      }


    }
  }

  .product_title {
    @include font(l-large, 43, 400);
    color: palette(primary);
    text-align: left;

  }

  .product-tags {
    @include font(l-small, 20, 400);
    color: palette(text, 400);

    a {
      @include font(l-small, 20, 400);
      color: palette(text, 400);
    }
  }

  .product_meta {
    display: flex;
    flex-direction: column;
    margin: 30px 0 30px 0;

    @include mq($lg) {
      margin: 80px 0 50px 0;
    }

    span.sku_wrapper,
    span.posted_in,
    span.tagged_as {
      padding: 2px 0;
      @include font(base, 20, 500);
      color: palette(text);

      a, .sku {
        color: palette(text);
        @include font(base, 25, 300);
      }

    }
  }

  .c-wine-detail {

    .c-wine-detail__row {
      display: flex;
    }

    .c-wine-detail_col_one {
      width: 70%;
    }

    .c-wine-detail_col_two {
      width: 30%;
    }

    .c-wine-detail_col {
      @include font(l-small, 14, 400);
      padding: 6px 0;

      @include mq($lg) {
        @include font(base, 16, 400);
        padding: 6px 0;
      }
    }
  }


  .s-single-product-price__card {
    padding: 30px;
    margin: 30px 0;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 40px rgba(153, 1, 51, 0.2);

    @include mq($lg) {
      margin: 0;
    }

  }

  .s-single-product-price__wrap {
    margin-bottom: 30px;

    @include mq($lg) {
      margin-bottom: 40px;
    }
  }

  p.price {
    display: inline-block;
  }

  .s-single-product__cost {
    color: palette(text);
    @include font(base, 16, 400);
    margin-right: 30px;
  }

  .woocommerce-Price-amount {
    color: palette(primary);
    @include font(l-large, 43, 300);
    margin: 15px 0;
  }

  .woocommerce-price-suffix {
    color: #979797;
    @include font(small, 22, 300);
    margin-left: 35px;
  }

  .product {
    div.woocommerce-tabs {
      ul.tabs {
        overflow: visible;
        text-align: center;

        li {
          border: none;
          background: none;
          padding: 15px 30px;

          &:before {
            box-shadow: none;
            border: none;

          }

          &:after {
            content: '';
            width: 0;
            height: 3px;
            background: #990133;
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 0;
            transition: width ease-out 0.5s;
            border: none;
            box-shadow: none;
          }

          &.active {
            border: none;
            background: none;

            &:before {
              box-shadow: none;
              border: none;
            }

            &:after {
              width: 100%;
              box-shadow: none;
              border: none;
            }
          }

          a {
            text-transform: uppercase;
            color: palette(text);
          }
        }
      }
    }
  }
}

.wc-tabs__brand-link {
  a {
    background: palette(primary);
    color: #ffffff;
    display: inline-block;
    padding: 15px 20px;
    @include font(base, 20, 400);
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 3px;
  }

  img {
    display: none;
    height: 20px;
  }
}

.s-single-product__description {
  padding: 30px 0;
  @include mq($lg) {
    padding: 100px 0;
  }
}

.s-single-product__winemaker {
  margin-bottom: 30px;

  @include mq($lg) {
    padding: 100px 0;
    margin-bottom: 0;
  }
}

.product-winemaker__card {
  height: 100%;
  padding: 30px;
  background: rgb(255, 255, 255);
  box-shadow: 0px 0px 40px rgba(153, 1, 51, 0.2);
}



