.s-follow-us{
  background-color: palette(primary);
  padding: 10px 0;

  a{
    display: inline-block;
  }
}

.s-follow-us__icon{
  display: inline-block;
  height: 27px;
  margin-right: 20px;
}

.s-follow-us__title{
  color: #ffffff;
  text-transform: uppercase;
}