.s-info-box {

}

.s-info-box__item {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 50px 0;
}

.s-info-box__img {
  margin: 0 auto 30px;
}

.s-info-box__title {
  padding: 20px 0 10px 0;
  @include font(s-large, 40, 300);
  letter-spacing: 2px;
  color: palette(text);
  text-align: center;
}

.s-info-box__description{
  @include font(base, 20, 400);
  letter-spacing: 1px;
}

.s-info-box__decoration{
  @include mq($lg){
    border-right: 1px solid #ffffff;
  }


}