.s-team {
  padding: 100px 0;
}

.s-team__title{
  position: relative;
  margin-bottom: 80px;
  padding-bottom: 10px;
  @include font(s-large, 40, 300);
  letter-spacing: 2px;
  color: palette(text);
  text-align: left;
  border-bottom: 1px solid #d7d7d7;
}