.s-about{
    padding: 70px 0;
}

.s-about__title{
  margin-bottom: 40px;
  padding-bottom: 10px;
  @include font(s-large, 40, 300);
  letter-spacing: 2px;
  color: palette(text);
  text-align: left;
  border-bottom: 1px solid #d7d7d7;
}