.s-contact{

}

.s-contact__row{
  padding: 30px;
  margin: 50px 0;
  box-shadow: 0 12px 12px rgba(187,187,187,.75),0 0 12px rgba(187,187,187,.75);
}
.s-contact__title-wrap{
  display: flex;
  align-items: flex-end;


  img{
    width: 80px;
    border: 1px #cccccc solid;
  }
}

.s-contact__title{
  @include font(s-large, 20, 300);
  letter-spacing: 2px;
  color: palette(text);
  text-align: left;
  padding: 0 0 10px 0;
  margin-left: 10px;
  border-bottom: 1px solid #d7d7d7;
}