.s-wc-register-banner {
  padding: 50px 0;
  background-color: #f7f7f7;

  @include mq($lg) {
    padding: 80px 0;
  }
}


.s-wc-register-banner__text {
  h2 {
    @include font(large, 32, 400);
    letter-spacing: 2px;
    margin-bottom: 20px;

    @include mq($md) {
      @include font(s-large, 42, 400);
      letter-spacing: 2px;
    }
  }

  ul {
    padding-left: 20px;

    li {
      padding: 5px 16px;
      display: block;
      position: relative;
      letter-spacing: 1px;

      &:before {
        position: absolute;
        content: "•";
        margin-left: -15px;
        color: palette(primary);
        font-size: 25px;
        line-height: 1;
        vertical-align: middle;

      }

      a {
        color: palette(text);
      }
    }
  }


}

.s-wc-register-banner__img {

}