@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/*@font-face {
  font-family: 'poppins_black';
  src: url('../../fonts/poppins/poppins-black-webfont.eot');
  src: url('../../fonts/poppins/poppins-black-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/poppins/poppins-black-webfont.woff2') format('woff2'),
  url('../../fonts/poppins/poppins-black-webfont.woff') format('woff'),
  url('../../fonts/poppins/poppins-black-webfont.ttf') format('truetype'),
  url('../../fonts/poppins/poppins-black-webfont.svg#poppins_blackregular') format('svg');
  font-weight: normal;
  font-style: normal;

}*/


