/**
 *  Global color variables.
 *	The underscore Never use them directly in the styles, only for functions and mixins.
 */

$_color-primary-500: #990133 !default;
$_color-primary-400: #930D39 !default;
$_color-primary-300: #951D45 !default;
$_color-primary-200: #972D4F !default;
$_color-primary-100: #97415D !default;

$_color-secondary-100: #01793F !default;
$_color-secondary-200: #89BB58 !default;
$_color-secondary-300: #95BA71 !default;
$_color-secondary-400: #A4BB8E !default;
$_color-secondary-500: #BCBDBA !default;

$_color-text-500: #000000 !default;
$_color-text-400: #767676 !default;

$_color-yellow-100: #fdf9cd !default;
$_color-yellow-300: #fff0a4 !default;
$_color-yellow-500: #ffe000 !default;

$_color-positive-100: #28a745 !default;
$_color-negative-100: #dc3545 !default;
/**
 *  Organize color variables in a Sass Map.
 *  This way, the colors can be iterated, are more organized, and are more intuitive to reference.
 */
$palettes: (
        'primary': (
                100:  $_color-primary-100,
                200:  $_color-primary-200,
                300:  $_color-primary-300,
                400:  $_color-primary-400,
                base: $_color-primary-500,
        ),
        'secondary': (
                base: $_color-secondary-100,
                200: $_color-secondary-200,
                300: $_color-secondary-300,
                400: $_color-secondary-400,
                500: $_color-secondary-500,
        ),
        'text': (
                base: $_color-text-500,
                400: $_color-text-400,
        ),
        'positive': (
                base: $_color-positive-100,
        ),
        'negative': (
                base: $_color-negative-100,
        ),
        'yellow-color': (
                100: $_color-yellow-100,
                300: $_color-yellow-300,
                base: $_color-yellow-500,
        ),
);

