.woocommerce {
  nav.woocommerce-pagination {
    margin: 50px 0;

    ul {
      border: none;

      li {
        border: none;
        margin: 0 1px;

        a{
          &:focus,
          &:hover {
            background: palette(primary);
            color: #fff;
            border-radius: 3px;
          }
        }

        span.current {
          background: palette(primary);
          color: #fff;
          border-radius: 3px;
        }
      }
    }
  }
}
