h1 {
	font-family: 'Bebas Neue', cursive;
	@include font(l-large, 42, 600);
	@include mq($min: 568){
		@include font(x1-large, 64, 600);
	}
}

h2 {
	text-align: center;
	margin-bottom: 62px;
	font-family: 'Bebas Neue', cursive;
	@include font( l1-large, 40, 700);
	color: palette(primary);
}

h3 {
	font-family: 'Bebas Neue', cursive;
	@include font(m-mid-large, 28, 600);

	@include mq($min: 568){
		@include font( l1-large, 40, 700);
		margin-bottom: 38px;
	}
}

h4 {
	font-family: 'Bebas Neue', cursive;
	@include font(base, 18, 600);
	@include mq($min: 568){
		@include font(mid, 24, 600);
	}
}

h5 {
	font-family: 'Bebas Neue', cursive;
	@include font(l-small, 18, 600);
}

